<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>Game Search</title>
</head>
<body>

    <form action="/handle_form_search" method="POST">
        <p>
            Please input a game related word to Search: <input name="name" type="text"/><br/><br/><br/>
        </p>
        
        <p>
            Please choose the order to show result:
            <select name="order">
                <option value="1">Relevent</option>
                <option value="2">Price</option>
                <option value="3">Score</option>
            </select>

        </p>

        <input type="submit" value="Submit Form"/>
    </form>

    <form action="/handle_form_catagory" method="POST">
        <p>
            Or choose the category of your games:
            <select name="catagory">
                <option value="1">RPG</option>
                <option value="2">Action</option>
                <option value="3">Adventure, Casual</option>
                <option value="4">Sports, Racing</option>
                <option value="5">Strategy</option>
                <option value="6">Simulation</option>
            </select>

        </p>
        <input type="submit" value="Submit Form"/>
    </form>

        
</body>
</html>

